name: hydromt-delwaq

channels:
  - conda-forge

dependencies:
  - cartopy # to run examples
  - descartes # to run examples
  - hydromt>=0.9.1
  - hydromt_wflow>=0.4.0
  - hydromt_delwaq>=0.4.0
  - jupyter # to run examples
  - matplotlib # to run examples
  - python<=3.11
  - tqdm # progress bar
  - xugrid

