name: hydromt_delwaq

channels:
  - conda-forge

dependencies:
  - cartopy # to run examples
  - hydromt_delwaq>=0.3.0
  - jupyterlab # to run examples
  - matplotlib # to run examples
  - notebook # to run examples
