[build-system]
requires = ["flit_core >=3.2.0,<3.3"]
build-backend = "flit_core.buildapi"

[project]
name = "hydromt_delwaq"
authors = [
    {name = "Hélène Boisgontier", email = "helene.boisgontier@deltares.nl"},
    {name = "Sibren Loos", email = "sibren.loos@deltares.nl"},
]
dependencies = [
    "hydromt",
    "hydromt_wflow"
]
requires-python = ">=3.8" # fix tests to support older versions
readme = "README.rst"
classifiers = [
    # https://pypi.python.org/pypi?%3Aaction=list_classifiers
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Hydrology",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Programming Language :: Python :: 3",
]
dynamic = ['version', 'description']

[project.optional-dependencies]
test = [
	"testpath",
	"responses",
	"pytest>=2.7.3",
	"pytest-cov",
	"black",
]
doc = [
    "sphinx",
    "sphinx_design",
    "pydata-sphinx-theme",
]

[project.urls]
Documentation = "https://deltares.github.io/hydromt_delwaq/"
Source = "https://github.com/Deltares/hydromt_delwaq"

[project.entry-points."hydromt.models"]
delwaq = "hydromt_delwaq.delwaq:DelwaqModel"

[tool.black]
line-length = 88
target-version = ['py38']

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
]