name: Build Documentation

# We don't want pushes (or PRs) to gh-pages to kick anything off
on:
  push:
    branches: [ main ]
    paths:
      - .github/workflows/docs.yml
      - hydromt_delwaq/*
      - docs/*
      - examples/*
      - pyproject.toml
  pull_request:
    branches: [ main ]
    paths:
      - .github/workflows/docs.yml
      - hydromt_delwaq/*
      - docs/*
      - examples/*
      - pyproject.toml

jobs:
  # Build docs on Linux
  Docs:
    name: linux docs
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      DOC_VERSION: dev
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - name: Checkout source
        uses: actions/checkout@v5

      - name: Setup environment
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.11"
          miniforge-version: latest
          activate-environment: hydromt_delwaq

      - name: Install plugin
        run: |
         mamba install uv
         uv pip install .[doc,examples]
         mamba list

      - name: Build docs
        run: |
          sphinx-build -M html ./docs ./docs/_build -W

      # This overrides the version "dev" with the proper version if we're building off a
      # branch that's not main (which is confined to n.nn.x above) or on a tag.
      - name: Set doc version
        # run: echo "DOC_VERSION=preview" >> $GITHUB_ENV
        run: echo "DOC_VERSION=$(python -c 'from hydromt_delwaq import __version__ as v; print("dev" if "dev" in v else "v"+v)')" >> $GITHUB_ENV

      - name: Upload to GitHub Pages
        if: ${{ github.event_name != 'pull_request'}}
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/_build/html
          exclude_assets: '.buildinfo,_sources/*,_examples/*.ipynb'
          destination_dir: ./${{ env.DOC_VERSION }}
          keep_files: false
          full_commit_message: Deploy ${{ env.DOC_VERSION }} to GitHub Pages
