name: Test stable

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  Test:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] #, "ubuntu-latest", "macos-latest", windows-latest]
        python-version: ["3.10", "3.11"] # fix tests to support older versions

    steps:
      - uses: actions/checkout@v2
      - name: Setup environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: envs/hydromt-delwaq.yml
          activate-environment: hydromt-delwaq
          cache-downloads: true

      - name: Conda info
        run: |
         conda info
         conda list

      - name: Install plugin
        run: flit install --deps all

      - name: Run Tests
        run: python -m pytest --verbose --cov=hydromt_delwaq --cov-report xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
