name: Test stable

on:
  push:
    branches: [ main ]
    paths:
      - hydromt_delwaq/**/*
      - tests/**/*
      - pyproject.toml
      - .github/workflows/test.yml
  pull_request:
    branches: [ main ]
    paths:
      - hydromt_delwaq/**/*
      - tests/**/*
      - pyproject.toml
      - .github/workflows/test.yml

jobs:
  Test:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] #, "ubuntu-latest", "macos-latest", windows-latest]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup environment and info
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: envs/hydromt-delwaq.yml
          cache-downloads: true
          init-shell: bash

      - name: Install plugin
        run: |
         micromamba activate hydromt-delwaq
         flit install --deps all

      - name: Run Tests
        run: |
         micromamba activate hydromt-delwaq
         python -m pytest --verbose --cov=hydromt_delwaq --cov-report xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
