name: Test stable

on:
  push:
    branches: [ main ]
    paths:
      - hydromt_delwaq/**/*
      - tests/**/*
      - pyproject.toml
      - .github/workflows/test_stable.yml
  pull_request:
    branches: [ main ]
    paths:
      - hydromt_delwaq/**/*
      - tests/**/*
      - pyproject.toml
      - .github/workflows/test_stable.yml

jobs:
  Test:
    name: ${{ matrix.os }} - py${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"] #, "ubuntu-latest", "macos-latest", windows-latest]
        python-version: ["3.11"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup environment and info
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest
          python-version: ${{ matrix.python-version }}
          activate-environment: hydromt_delwaq

      - name: Install plugin
        run: |
         mamba install uv
         uv pip install .[test,dev]
         mamba list

      - name: Run Tests
        run: |
         python -m pytest --verbose --cov=hydromt_delwaq --cov-report xml

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
